---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Bernard Gerber - About">
  <div class="about_main">
    <div class="about_hero">
      <h1 class="about_main-title">Designing with curiosity and purpose</h1>
    </div>
    <div>
      <p class="about_body">Bernard Gerber is a Brazilian creative designer currently based in Portugal.</p>
      <p class="about_body">For the past years I've been responsible for crafting visual identities and digital design systems for diverse companies.</p>
      <p class="about_body">My main source of inspiration is the human behaviour, always asking how things work as they do and how is possible to introduce technology to them.</p>
    </div>
  </div>

  <div class="about_description-main">
    <div class="about_description-grid">
      <div class="about_description-item">
        <p class="about_txt">Experience</p>

        <div class="about_description-item">
          <p class="about_title_2">Praia Irmão</p>
          <p class="about_txt_2">In-House Designer</p>
        </div>

        <div class="about_description-item">
          <p class="about_title_2">Eva Gonçalves Studio</p>
          <p class="about_txt_2">Assistant Designer</p>
        </div>
        <div class="about_description-item">
          <p class="about_title_2">Duck Design Studio</p>
          <p class="about_txt_2">UI Designer</p>
        </div>
        <div class="about_description-item">
          <p class="about_title_2">Aprender Design</p>
          <p class="about_txt_2">Communication Designer</p>
        </div>
      </div>
      <div class="about_description-item">
        <p class="about_txt">Education</p>
        <div class="about_description-item">
          <p class="about_title_2">Communication Design</p>
          <p class="about_txt_2">Bachelor's Degree Faculty of Fine Arts of Lisbon</p>
        </div>
      </div>
      <div class="about_description-item">
        <p class="about_txt">Press</p>
        <div>
          <ul>
            <li>
              <a class="about_title" href="https://www.behance.net/gallery/147637755/Flow-Brand">Behance Gallery - Graphic Design</a>
            </li>
            <li>
              <a class="about_title" href="">Criacura</a>
            </li>
            <li>
              <a class="about_title" href="https://www.youtube.com/watch?v=qB4iltSCY7Q&list=LL&index=18">Type Crit Crew — #13 — Plau Design</a>
            </li>
            <li>
              <a class="about_title" href="https://brazilianswho.design/">Brazilians Who Design</a>
            </li>
            <li>
              <a class="about_title" href="https://www.instagram.com/p/DC2hvfvsvmj/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Talk — Semana do Design IFSul 2024</a>
            </li>
            <li>
              <a class="about_title" href="https://www.belasartes.ulisboa.pt/a-designer-at-the-end-of-2/">Talk — a designer at the end of…</a>
            </li>
            <li>
              <a class="about_title" href="https://dissenyobert.com/emprecariado-ninguem-esta-a-salvo-todo-mundo-e-empreendedor/">Book review — Emprecariat</a>
            </li>
            <li>
              <a class="about_title" href="https://www.oneclub.org/awards/adceuropestudent/-award/60916/coura-naturalmente//">Bronze Awards ADCE — Art Directors Club of Europe</a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div class="about_description-item">
          <p class="about_txt">SERVICES</p>
          <ul class="about_title_2">
            <li>Creative Direction</li>
            <li>Visual Identity</li>
            <li>Digital</li>
            <li>Print</li>
            <li>UI/UX</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
